config SHIELD_LUCA_LEFT
    def_bool $(shields_list_contains,luca_left)

config SHIELD_LUCA_RIGHT
    def_bool $(shields_list_contains,luca_right)

config SHIELD_LUCA_DONGLE
    def_bool $(shields_list_contains,luca_dongle)
